<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

	<aop:aspectj-autoproxy proxy-target-class="true" />
	
	<bean id="requestDomain" class="com.ahfdkun.domain.RequestDomain" scope="request" p:name="456">
		<!-- 使用cglib代理 -->
		<aop:scoped-proxy proxy-target-class="true"/>
	</bean>
	
	<!-- XML AOP -->
	<bean id="testXMLAdvice" class="com.ahfdkun.aop.TestXMLAdvice" />
	
	<bean class="com.ahfdkun.service.impl.TestPointImpl" />

	<aop:config>
		<aop:advisor advice-ref="testXMLAdvice" pointcut="execution(* com.ahfdkun.service.TestPoint.*(..))" />
		<!-- XML 增强类方法 -->
		<!-- <aop:aspect>
			<aop:declare-parents types-matching="com.ahfdkun.service.Performance+"
				implement-interface="com.ahfdkun.service.Encoreable" default-impl="com.ahfdkun.service.impl.DefaultEncoreable" />
		</aop:aspect> -->
	</aop:config>
	
</beans>
